.column-left{ float: left; width: 33%; padding: 1px; }
.column-right{ float: right; width: 33%; padding: 1px; }
.column-center{ display: inline-block; width: 33%; padding: 1px;}

body {
	background: linear-gradient(to bottom right, red, rgba(0,0,0,0));
}

h1 {
	color: #2A9BCC;
}
h2 {
	color: #FF0000;
}

#other1 {
	color: #ffb;
}

#other2 {
	color: #bfc;
}

a:hover {
	color: #2A9BCC;	
}

p {
    border: 2px solid;
    border-radius: 100% 100% 100% 100% 100% 100%;
    box-shadow: 10px 10px 5px #888888;
}

img {
    width: 100%;
    height: auto;
}