@charset "UTF-8";



/* the html element below is the "background" of your page */
html{
		background:#00004d;
}

video{
	min-width:100%;
	min-height:100%;
	width:auto;
	height:10000px;
	background:url(bubbles.mp4);/*repeat?*/
	background-size: cover;

}

#like{
	
}
body {
	font-family: 'Hind', sans-serif;
	color:#fff;
}

header{
	height:170px;
	background-image:url(stardust_@2X.png);
	background:cover;
	width:100%;
	opacity: 0.4;
	z-index: 10;
	position: fixed;
}


#post {
    display: flex;
    margin-top: 200px;
}

#post section {
    padding: 1em;
    flex: 2 0 0;
}
#post section:first-of-type {
    flex: 1 0 0;
}

#posts{
	text-align: center;
}
#wrapper {
    position: relative;
}
#wrapper div, #wrapper video {
    position: absolute;
    top: 0;
}

#popularthought{
	text-align: center;
	color: ##ffd700;
}

#blogstart{
	text-align: center;
}

#me{
	float: left;
	margin-left:50px;
	margin-top: 30px;
}
.contactme{
	float: right;
	margin-top: -175px;
	margin-right: 65px;
	float:bottom;
}
.contactme:hover{
	float: right;
	margin-top: -175px;
	margin-right: 65px;
	float:bottom;
	border-color: #e6e600;
}

#goodfont{
	font-family: 'Indie Flower', cursive;
	}
	#notice{
		font-family: 'Indie Flower', cursive;
		text-align: center;
		color: #ffd700;
	}


h1 {
	color: #FFFFFF;
	text-align: center;
	font-size: 50px;
	margin-top: -10px;
}
#nav {
	list-style-type: none;
	text-align:center;
}
#nav li {
	display: inline;
	background-color:#FFFFFF;
	padding:20px;
	margin-left:-6px;
}
#nav a:hover {
	color: #e6e600;	
}

#nav a {
text-decoration: none;	
}

h2 {
	color: #008000;
	text-align: center;
	margin-left: 150px;
}



img {
	border-color: #008000;
	border-style: solid;
	border-width: 5px;
}

/* The code below here alters links */
a {
  font-weight:bold;
  color: #e6e600
}

a:hover {
	font-weight:bold;
	text-decoration:underline;
	color: #e6e600;
}

a:visited {
   color:#003300;
}

a:active {
	background-color:#e6e600;
}